.form {
    margin: 40px auto;
}

.form__label {
    max-width: 150px;
    width: 100%;
    display: inline-block;
    margin-right: 5px;
}
.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 200px;
    width: 100%;
    border-radius: 5px;
    margin: 20px auto;
}

.form__field:read-only {
    background-color: #eee;
    
}


.form__legend {
    background-color:#98BA7D;
    color: grey;
    padding: 10px;
    border-radius: 5px;
}
